/* Layout: Map on top, form below */
.container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  align-items: flex-start; /* Center the items */
}

/* Map Styles */
#map {
  height: 60vh;
  width: 100%; /* Full width */
  border: 1px solid black;
}

.container > * {
  margin: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
