<div id="grid">
    {{ image|safe }}
</div>
    <form id="radiobox-form" method="GET" action="/plot.png">
        <label>
            <input type="radio" class='bands' name="option" value="1" required checked>
            Band 1
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="2">
            Band 2
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="3">
            Band 3
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="4">
            Band 4
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="5">
            Band 5
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="6">
            Band 6
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="7">
            Band 7
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="8">
            Band 8
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="9">
            Band 9
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="10">
            Band 10
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="11">
            Band 11
        </label><br>
        <label>
            <input type="radio" class='bands' name="option" value="12">
            Band 12
        </label><br>
    </form>
    {{ band_display|safe }}